*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--sub-color-1);
}
a{
    color: var(--sub-color-5);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary-color-1 : #6C72FF;
    --primary-color-2 : linear-gradient(#CB3CFF, #7F25FB);

    --secondary-color-1 : #101935;
    --secondary-color-2 : #8951FF;
    --secondary-color-3 : #57C3FF;
    --secondary-color-4 : #9A91FB;
    --secondary-color-5 : #FDB52A;

    --sub-color-1 : #080F25;
    --sub-color-2 : #212C4D;
    --sub-color-3 : #37446B;
    --sub-color-4 : #7E89AC;
    --sub-color-5 : #AEB9E1;
    --sub-color-6 : #D1DBF9;
    --sub-color-7 : #D9E1FA;
    --sub-color-8 : #FFFFFF;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
nav{
    display: grid;
    grid-template-rows: 50px 50px auto 100px;
    justify-content: center;
    padding: 30px 0px 0px 0px;
    gap: 30px;
}
.logo{
    color:var(--sub-color-8);
    font-size: 1.3rem;
}
form[role="search"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

input[type="search"] {
    padding: 10px 10px 10px 40px;
    border: 1px solid var(--sub-color-2);
    border-radius: 5px;
    width: 200px;
    background-color: var(--secondary-color-1);
    color: var(--sub-color-5)
}
input[type="search"]::placeholder{
    color: var(--sub-color-5)
}
button[type="submit"] {
    position: absolute;
    left: 10px;
    border:none;
    background: none;
    cursor: pointer;
}

button[type="submit"]:hover{
    filter: brightness(200%);
}

.navigation-container{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
}
